In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('wind_data_2007.csv')
print(data.shape)
data.head()

(15548, 3)

               date   drct       sped
0  2007-01-01 00:20  290.0  12.829798
1  2007-01-01 00:50  290.0  15.842659
2  2007-01-01 01:20  290.0  15.270610
3  2007-01-01 01:50  300.0  13.332094
4  2007-01-01 02:20  290.0  12.639211

In [3]:
data['drct'] = 270

In [4]:
data.to_csv('wind_data/wind_270.csv')

In [5]:
data['drct'] = 225

In [6]:
data.to_csv('wind_data/wind_225.csv')