In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('wind_data/wind_data_2007.csv')
print(data.shape)
data.head()

(15548, 3)

               date   drct       sped
0  2007-01-01 00:20  290.0  12.829798
1  2007-01-01 00:50  290.0  15.842659
2  2007-01-01 01:20  290.0  15.270610
3  2007-01-01 01:50  300.0  13.332094
4  2007-01-01 02:20  290.0  12.639211

In [17]:
data.describe()

               drct          sped
count  15548.000000  15548.000000
mean     203.832004      8.961912
std       93.268753      4.612641
min       10.000000      0.680265
25%      150.000000      5.415578
50%      210.000000      8.532853
75%      270.000000     11.820551
max      360.000000     29.879753

In [9]:
data['drct'] = 270

In [10]:
data.to_csv('wind_data/wind_270.csv',index = False)

In [13]:
data['drct'] = 225

In [14]:
data.to_csv('wind_data/wind_225.csv',index = False)

In [18]:
data['drct'] = 224

In [19]:
data.to_csv('wind_data/wind_224.csv',index = False)

In [21]:
data['drct'] = 180


data.to_csv('wind_data/wind_180.csv',index = False)

In [4]:
data['drct'] = 360
data['sped'] = 20

data.to_csv('wind_data/wind_360_uniform.csv',index= False)

In [5]:
data['drct'] = 360
data['sped'] = 3

data.to_csv('wind_data/wind_360_uniform_3.csv',index= False)